<!--  home page  -->
<div class = "row pic_indent hm_bg ">
  
</div>


<!--  Goal  -->
<div class = "row goal_bg">
  
    
       <div class = "col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
        <h1 style="text-align:center; color: black;margin-top:100px">Our Goal</h1>
        <div class = "line"> </div>
        <p class="goal_font"> The challenges faced by our generation have become increasingly complex, multifaceted and multinational. It is therefore imperative for engineering students to develop the necessary skills to successfully tackle global problems. Doing so requires an exposure to and understanding of global engineering knowledge and applications.</p>
 
        <p class="goal_font">Global Engineering Week (GE Week) strives to immerse students in an atmosphere of global engineering to disseminate the requisite knowledge and skillsets needed by students to tackle multi-disciplinary problems and truly become global engineers. This includes exposure to global leaders who could share their experiences and inspire students, as well as institutional and student-run initiatives. Through GE Week, we hope to provide students with a galvanizing experience, not only exposing them to the importance of global engineering, but inspiring them about the unique possibilities that exist within it.</p>
        
      
 
  </div>
</div>








<!--  our goal  -------------------------------------------------------------------------------------------->
<!--<div class = "row row-centered goal">-->
<!--    <div class = "col-md-1 col-xs-1 col-centered"> -->
<!--    <div class="goal_image_wrapper"><%= image_tag('quote_left.png',:class => "img-responsive rel_position zlow")%></div></div>-->
<!--   <div class = "col-md-8 col-xs-8 col-centered">-->
  
<!--   <h4>	every discipline. However, specifically at the undergraduate level, -->
<!--		there is little emphasis on the potential for biological applications -->
<!--		to engineering and few resources available for engineers interested in </h4>-->
<!--  </div>-->
<!--  <div class = "col-md-1 col-xs-1 col-centered" style = "margin-top: 20px"> <div class="goal_image_wrapper"><%= image_tag('quote_right.png',:class => "img-responsive rel_position zlow")%></div>-->
<!--  </div>-->
<!--</div>-->



<!--calendar------------------------------------>
<a name="schedule"></a>
<div class = "row row-centered  gray_bg">
  
  <div class = "col-md-10 col-md-offset-1 col-xs-offset-1 col-sm-10 col-xs-10 ">
<div id="calendar-wrap">
            <header>
                 <h1 style="text-align:center; color: black;margin-top:100px">schedule</h1>
                 <div class = "line"> </div>
            </header>
            <div id="calendar">
                
                <ul class="weekdays">
                    <li></li>
                    <li>MON March 13</li>
                    <li>TUES March 14</li>
                    <li>WED March 15</li>
                    <li>THUR March 16</li>
                    <li>FRI March 17</li>
                    <li>SAT March 18</li>
                    
                </ul>

               

                    <!-- Row #1 --------------------------------------------------------------------------------------------------->

                <ul class="days">
                  <li class="day period" style="background: #1b96b5">
                        <h5 style="color: white; line-height:140px">Morning</h5>                     
                    </li>
                    <li class="day">
                           <div class="event">
                            <div class="event-desc">
                                GE Week Fair
                            </div>
                            <div class="event-time">
                                6:00pm to 8:30pm
                            </div>
                        </div>                     
                    </li>
                    <li class="day">
                                          
                    </li>
                    <li class="day">
                                         
                    </li>
                    <li class="day">
                                            
                    </li>
                    <li class="day">
                       
                        
                    </li>
                    <li class="day">
                      <div class="event">
                            <div class="event-desc">
                                EWB Case Competition
                            </div>
                            
                        </div> 
                        
                                               
                    </li>
                    
                </ul>
                
                  <!-- Row #2 ------------------------------->

                <ul class="days">
                  <li class="day period" style="background: #1b96b5">
                        <h5 style="color: white;line-height:140px">Afternoon</h5>
                                       
                    </li>
                    <li class="day">
                                         
                    </li>
                    <li class="day">
                                           
                    </li>
                    <li class="day">
                              <div class="event">
                            <div class="event-desc">
                                Speaker - Prof. Amos Winter (MIT)
                            </div>
                            <div class="event-time">
                                11 am to 1 pm
                            </div>                 
                    </li>
                    <li class="day">
                                           
                    </li>
                    <li class="day">
                       
                        <div class="event">
                          
                            <div class="event-desc">
                                <%= link_to "Graduate Student Research Fair", root_path(:anchor => "#grad") %>
                            </div>
                            <div class="event-time">
                                6:00pm to 8:30pm
                            </div>
                            </a>
                        </div>                      
                    </li>
                    <li class="day">
                       <div class="event">
                        <div class="event-desc">
                                EWB Case Competition
                            </div>                 
                            </div>                 
                    </li>
                    
                </ul>
                
                  <!-- Row #3 ------------------------------->

                <ul class="days">
                  <li class="day period" style="background: #1b96b5">
                        <h5 style="color: white;line-height:140px">Evening</h5>
                                       
                    </li>
                    <li class="day">
                                         
                    </li>
                    <li class="day">
                                           
                    </li>
                    <li class="day">
                                              
                    </li>
                    <li class="day">
                                           
                    </li>
                    <li class="day">
                       
                        <div class="event">
                            <div class="event-desc">
                                Speaker - Prof. Amekuzdi-Kennedy (Georgia Tech)
                            </div>
                            <div class="event-time">
                                6:00pm to 8:30pm
                            </div>
                        </div>                      
                    </li>
                    <li class="day">
                       <div class="event">
                           <div class="event-desc">
                                EWB Case Competition
                            </div>  
                            </div>  
                            
                    </li>
                    
                </ul>
  
                  
                 <ul>
                   <li class="weekdays_mobile">Monday March 13</li>
                   <li class="event_mobile">
                   <div class="event">
                            <div class="event-desc">
                                GE Week Fair
                            </div>
                            <div class="event-time">
                                6:00pm to 8:30pm
                            </div>
                    </div>
                    </li>
                   <li class="weekdays_mobile">Wednesday March 15</li>
                   <li class="event_mobile">
                     
                       <div class="event">
                            <div class="event-desc">
                                Speaker - Prof. Amos Winter (MIT)
                            </div>
                            <div class="event-time">
                                11 am to 1 pm
                            </div> 
                      </div>
                    </li>
                   <li class="weekdays_mobile">Friday March 17</li>
                   <li class="weekdays_mobile">Saturday March 18</li>
                   <li class="weekdays_mobile">Saturday March 25</li>
                 </ul>
                       
               

            </div><!-- /. calendar -->
        </div><!-- /. wrap -->
</div>
</div>
</div>










<!--  speaker series  ---------------------------------------------------------------------------------------->
<a name="speaker"></a>
<div class = "row row-centered gray_bg ">
  <h1 style="text-align:center; color: black;margin-top:100px">Speaker Series</h1>
  <div class = "line"> </div>
  
</div>
<div class = "row row-centered gray_bg">
  <div class = "col-centered col-md-7 col-sm-10 col-xs-10">
  <p style="font-size: 15px; text-align:center; color: black; margin-bottom: 40px">Global Engineering Week was put together by a group of students passionate about global engineering and engineering’s role in developing sustainable solutions to pressing social and global problems. </p>
  </div>
</div>
<div class = "row row-centered  banner_margin_bot gray_bg">
  
  
  <div class = "col-centered col-md-3 col-sm-10 col-xs-10 speaker">
    <%= image_tag('amos_winter.png')%>
    <h3>Prof. Amos Winter</h3>
    <h5 class="team_title"><i>Director of Global Engineering, MIT</i></h5>
		 <a href="#" class="btn btn-warning" role="button">Register</a>
   
  </div>
  <div class = "col-centered col-md-3 col-sm-10 col-xs-10 speaker">
    <%= image_tag('kennedy.png')%>
    <h3>Prof. Adjo Amekuzdi-Kennedy</h3>
   <h5 class="team_title"><i>Associate Chair of Global Engineering, Georgia Tech</i></h5>
		 <a href="#" class="btn btn-warning" role="button">Register</a>
   
  </div>
  <div class = "col-centered col-md-3 col-sm-10 col-xs-10 speaker">
    <%= image_tag('paul_cadario.png')%>
    <h3>Prof. Paul Cadario</h3>
    <h5 class="team_title"><i>Board Member, Munk School of Global Affairs,School of Public Policy, and Faculty of Applied Science and Engineering</i></h5>
    
   <a href="#" class="btn btn-warning" role="button">Register</a>
  </div>
</div>


<!--  courses  -->
<a name="courses"></a>
<div class = "row row-centered  blue_bg banner_margin_bot">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-4 col-sm-10 col-xs-10 ">
    <div class="banner_image_wraper center">
      <%= image_tag('Course Involvement Vector.png')%>
    </div>
  </div> 
   <div class = " col-md-4 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h1 style="text-align:center; color: black;margin-top:100px">Curriculum Involvement </h1>
    <div class = "line"> </div>
      <p>We have partnered with faculty to introduce real-life global poverty case studies, examples, and readings into the engineering curriculum during GE Week, ranging from energy policy to engineering design. Not only will this prompt discussions about innovative solutions to engineering and business issues that arise in the context of global poverty, but it will give students an outlet to apply their curriculum in solving these problems. 
  		 </p>
  	</div>
</div>



<!--  grad student fair  -->
<% link_to('', {}, {:name => 'grad'}) %>

<div class = "row row-centered  banner_margin_bot or_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-4 col-sm-10 col-xs-10 ">
    <div class="banner_image_wraper center">
      <%= image_tag('Grad Student Fair Vector.png')%>
    </div>
  </div> 
   <div class = " col-md-4 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h1 style="text-align:center; color: black;margin-top:100px">Speaker Series</h1>
    <div class = "line"> </div>
      <p>Malik is a fourth year Engineering Science student at the University of Toronto and is the founder of the Global Engineering Week. After three years as Vice President of Engineers Without Borders and working with faculty to introduce real-life global poverty case studies in their courses, he realized that curriculum-based discussions were only one part of the equation to disseminate the requisite knowledge and skillsets needed to help students become global engineers. This understanding led him to found the Global Engineering Week, which he believes is a will not only inspire students to expand their horizons and look beyond traditional engineering roles, but provide them will the skills needed to tackle the most complex global challenges.
  		 </p>
  	</div>
</div>

<!--  case competition  -->
<a name="competition"></a>

<div class = "row row-centered  banner_margin_bot gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-4 col-sm-10 col-xs-10 ">
    <div class="banner_image_wraper center">
      <%= image_tag('Case Competition Vector.png')%>
    </div>
  </div> 
   <div class = " col-md-4 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h1 style="text-align:center; color: black;margin-top:100px">Global Development Case Competition</h1>
    <div class = "line"> </div>
      <p>There will be three cases to choose from, with each topic addressing a real development-related

problem that a business or organization is facing in Africa. Through this event, participants will

be challenged to understand the key stakeholders involved, the economic and long-term

feasibility of proposed solutions, and the unintended consequences of actions.This

multidisciplinary competition bridges the gap between international development,

business and engineering. It is open to UofT undergraduates from all faculties.
  		 </p>
  	</div>
</div>
<!-- footer  -->

