<div class = "row row-centered gray_bg margin_top">
  <h1 >Our Team</h1>
  <div class = "line"> </div>
</div>
<div class = "row row-centered gray_bg">
  <div class = "col-centered col-md-7 col-sm-10 col-xs-10">
  <p style="font-size: 15px; text-align:center; color: black">Global Engineering Week was put together by a group of students passionate about global engineering and engineering’s role in developing sustainable solutions to pressing social and global problems. </p>
  </div>
</div>


<!--malik------------------------------------------------------------->
<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('malik.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Malik Ismail </h2>
      <h4 class="team_title"><i>Founder</i></h4>
      <p>Malik is a fourth year Engineering Science student at the University of Toronto and is the founder of the Global Engineering Week. After three years as Vice President of Engineers Without Borders and working with faculty to introduce real-life global poverty case studies in their courses, he realized that curriculum-based discussions were only one part of the equation to disseminate the requisite knowledge and skillsets needed to help students become global engineers. This understanding led him to found the Global Engineering Week, which he believes is a will not only inspire students to expand their horizons and look beyond traditional engineering roles, but provide them will the skills needed to tackle the most complex global challenges.
  		 </p>
  	</div>
</div>
<!--katherine------------------------------------------------------------->
<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('katherine.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Katherine Bancroft </h2>
      <h4 class="team_title"><i>Global Engineering Lead for Engineers Without Borders</i></h4>
      <p>Katherine is a second year undergraduate Electrical and Computer Engineering student at UofT and the Lead of EWB UofT’s Global Engineering Portfolio. She strongly believes in the role of the engineering to create lasting change. Through her involvement with EWB she’s focused on getting students to engage with local and global problems.

  		 </p>
  	</div>
</div>
<!--bilton------------------------------------------------------------->
<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('bilton.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Dr. Amy Bilton </h2>
  <h4 class="team_title"> <i> Associate Director, Centre for Global Engineering</i></h4>
      <p>Dr. Amy Blton is an Assistant Professor of Mechanical Engineering and the Associate Director of the Center for Global Engineering at the University of Toronto.  She completed her PhD at the Massachusetts Institute of Technology in the area of appropriate solar powered water desalination systems for remote communities.  Her research group, the Water and Energy Research Laboratory, uses systems engineering approaches to develop appropriate water and energy solutions for remote communities in the developing world.  She partners with NGOs and businesses in the developing world to address developing world challenges and deploy technology.
  		 </p>
  	</div>
</div>


<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('maryiam.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Maryam Mokhberi</h2>
 <h4 class="team_title"> <i>Innovation Co-director at Engineering World Health</i></h4>
      <p>Maryam is a Biomedical Engineering master student and the Innovation co-director at Engineering World Health student chapter.  She is also the marketing director at Bahar Charity Group at UofT. Through the experience she has gained in 4 years of activity in the field of world health issues, Maryam believes the best strategy to tackle the global health problem is to raise awareness about world problems, as well as empower students in all streams with the knowledge and skills applicable in solving the global issues. 
  		 </p>
  	</div>
</div>

<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('claire.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Claire Velikonja
</h2>
 <h4 class="team_title"> <i>Global Engineering Member for Engineers Without Borders</i></h4>
      <p>Maryam is a Biomedical Engineering master student and the Innovation co-director at Engineering World Health student chapter.  She is also the marketing director at Bahar Charity Group at UofT. Through the experience she has gained in 4 years of activity in the field of world health issues, Maryam believes the best strategy to tackle the global health problem is to raise awareness about world problems, as well as empower students in all streams with the knowledge and skills applicable in solving the global issues. 
  		 </p>
  	</div>
</div>

<div class = "row row-centered  gray_bg">
  <div class = "col-md-offset-2 col-xs-offset-1 col-md-2 col-sm-10 col-xs-10 ">
    <div class="team_image_wrapper center">
      <%= image_tag('marya.png')%>
    </div>
  </div> 
   <div class = " col-md-6 col-xs-offset-1 col-md-offset-0 col-sm-10 col-xs-10 team_each alignment_change">
      <h2>Marya Kemp

</h2>
 <h4 class="team_title"> <i>Global Engineering Member for Engineers Without Borders</i></h4>
      <p>Marya is a first year mechanical engineering student from British Columbia. She is a new member of the Global Engineering portfolio excited to contribute to the Engineers Without Borders chapter at U of T. She is looking forward to working with EWB on projects that inspire lasting change and educate about global engineering in the future. 
  		 </p>
  	</div>
</div>
